main {
  margin-block: 2.5rem;
  gap: 2rem;
}

@media (width >=80em) {
  main {
    margin-block: 2.5rem;
    row-gap: 5rem;
    column-gap: 2rem;

    grid-template-columns: 2fr 1.4fr;

    grid-template-areas:
      "featured featured"
      "weekly weekly"
      "ai aside";
  }
}