section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: .75rem 1.5rem;
  font: var(--text-span);

  & a {
    justify-self: end;
    align-items: center;
    gap: .5rem;

    & span {
      background-image: url(../assets/icons/ArrowRight.svg);
      width: 1rem;
      height: 1rem;
    }

    &:hover span {
      background-image: url(../assets/icons/ArrowRight-houver.svg);
    }
  }
}

#featured {
  & img {
    height: 100%;
    object-fit: cover;
  }

  .css-img {
    height: 26rem;
  }

  .card {
    border-radius: .25rem;
    overflow: hidden;
    position: relative;


    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg,
          transparent 0%,
          #020617 100%);
    }

    & figcaption {
      position: absolute;
      bottom: 0;

      padding: .75rem;

      &:has(.text-lg) {
        padding: .75rem;
      }

      & h2 {
        margin-top: .5rem;
      }
    }
  }
}

#weekly {
  &>div {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  & img {
    width: 20.5rem;
    height: 10rem;
  }

  & figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: .5rem;
      left: .5rem;
    }

    & p {
      margin-top: .5rem;
      font-weight: 800;
    }
  }

}

#ai {
  & img {
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  & h3 {
    margin-block: .5rem .25rem;
  }

  & article>div:nth-child(2) {
    order: -1;
  }
}

#more{
  margin-top: 2rem;
  
  & h3{
    margin-top: .5rem;
  }

  & img{
    width: 4.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}



@media (width >=80em) {
  #featured {
    grid-area: featured;

    & .css-img {
      height: 100%;
    }

    & .card {
      & figcaption {
        padding: 1.5rem;
      }
    }
  }

  #weekly {
    grid-area: weekly;

    &>div {
      grid-template-columns: repeat(4, 18.25rem);
      gap: 1rem;
    }

    & img {
      height: 10rem;
    }
  }

  #ai {
    grid-area: ai;

    & img {
      width: 11rem;
      aspect-ratio: 1/1;
    }

    & article>div:nth-child(2) {
      order: 0;
    }
  }

  aside{
    grid-area: aside;
  }

}