.container {
  --max-width: 360px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-mobile-desk {
  grid-auto-flow: row;
}

.gap-1{
  gap: 1rem;
}

.gap-2{
  gap: 2rem;
}

.desktop-only {
  display: none;
}

.mobile-none{
  display: initial;
}

.text-2xl{
  font: var(--h1);
}

.text-xl{
  font: var(--h2);
}

.text-lg{
  font: var(--h3);
}

.text-sm{
  font: var(--text-sm);
}

@media (width >=80em) {
  .desktop-only {
    display: initial;
  }

 .mobile-none{
   display: none;
  } 

  .container {
    --max-width: 80rem;
  }

  .grid-mobile-desk {
    grid-auto-flow: column;
  }

  .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}