header {
  padding-block: 2rem;
  font: var(--text-md);

  & .container {
    align-items: center;
  }

  & #info {
    margin-top: 2rem;
    gap: 1rem;

    width: 17.5rem;
  }

  & #info li {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

}

#profile {
  gap: 2rem;

  &>div {
    max-width: 18.5rem;
  }

  & h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: .5rem;
  }

  & img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media (width >=80em) {
  header {
    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & #info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  #profile {
    display: flex;

    &>div {
      max-width: 24rem;
    }

    & img {
      width: 11rem;
      height: 11rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}