main{
  gap: 1rem;
  padding-block: 1rem;

  & img{
    width: 20.5rem;
    height: 20.5rem;
    object-fit: cover;
  }
}

@media (width >=80em) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 1.5rem;
    padding-block: 1.5rem;

    & img {
      width: 17.875rem;
      height: 17.875rem;
      object-fit: cover;
    }
  }
}