nav {
  padding-block: 1rem;

  & .container {
    justify-content: space-between;
    align-items: center;
    line-height: 0;
  }

  & ul {
    align-items: center;

    padding-block: .5rem;
    gap: 1rem;
  }

  & ul li:last-child img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
  }

  & ul li:nth-child(2),
  & ul li:nth-child(3) {
    display: none;
  }

  & ul li:first-child a:hover img {
    content: url("../assets/icons/MagnifyingGlass-hover.svg");
  }
}

@media (width >=80em) {
  nav {
    padding-block: 1.25rem;

    & .container {
      justify-content: space-between;
      align-items: center;
      line-height: 0;
    }

    & ul li:nth-child(2),
    & ul li:nth-child(3) {
      display: initial;
    }

    & ul {
      padding-block: .5rem;
      gap: 1.5rem;
    }
  }

}