.container {
  --max-width: 360px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.grid{
   display: grid;
}

.desktop-only {
  display: initial;
}

@media (width >= 80em){
  .container{
    --max-width: 80rem;
  }
}