*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #242424;
  --text-color: #CBD5E1;
  --font-family: "Poppins", sans-serif;
  --text: 1rem/150% var(--font-family);

  --px-lg: 1rem;
}

body{
  background-color: var(--bg-color);
  font: var(--text);
  color: var(--text-color);
}

img{
  width: 100%;
}

@media (width >= 80em){
  :root{
    --px-lg: 2rem;
  }
}