main {
  & header {
    margin-top: 1.5rem;
    
    justify-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  & section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: .3125rem;
    }
  }

  & a {
    position: relative;
  }

  & a:hover {
    outline: .1rem solid #8234E9;
    outline-offset: 2px;
  }

}

@media (width >=80em) {
  main {
    & section {
      display: grid;
      margin: 1.5rem;
      grid-template-columns: 1fr 1fr;
      gap: 1.25rem;
      justify-items: center;

      & a img {
        width: 31rem;
      }

      & a:nth-child(3) {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
      }
    }
  }
}