main {
  & header{
    margin-top: 1.5rem;

    justify-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  & section {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    & img{
      border-radius: .3125rem;
    }
  }
}

@media (width >= 80em) {
  main {
    & section {
      display: grid;
      margin: 1.5rem;
      grid-template-columns: 1fr 1fr; 
      gap: 1.25rem;
      justify-items: center; 

      & a img {
        width: 31rem;
        height: auto;
      }

      & a:nth-child(3) {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
      }
    }
  }
}